/*General page styling*/
body {
  background-color: black;
  font-family: helvetica;
  color: seashell;
  font-size: 22px;
  text-align: center;
  margin: 0px;
}
.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
div {
  display: block;
}
a {
  color: seashell;
}

/*header styling*/
header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-left: 10px;
  height: 50px;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}
/*Main Content styling*/
.main {
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  padding-top: 70px;
}
/*mission section styling*/
#mission {
  display: flex;
  height: 700px;
  align-items: center;
  background-image: url("../../resources/img-mission-background.jpg");
}
#mission .content {
  display: block;
  width: 100%;
  background-color: black;
}

/*Items section styling*/
#featured {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 90px;
  justify-content: center;
}
.items img {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 10px;
}
#featured .content {
  display: block;
  margin: auto;
  width: 100%;
  align-content: center;
}

/*Locations styling*/

#locations {
  height: 500px;
  display: block;
  justify-content: center;
  margin: auto;
  background-image: url("../../resources/img-locations-background.jpg")
}
#locations h2 {
  padding-top: 50px;
}
.location {
  background-color: black;
  width: 300px;
  margin: 5px 20px;
  flex-basis: auto;
  opacity: 1;
}
.addresses {
  display: flex;
  justify-content: center;
}

/*Contact styling*/
#contact {
  height: 200px;
}

/*Footer*/
footer {
  margin-left: 20px;
  text-align: left;
  width: 100%;
}
